#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  
}


#greeting-container {
  margin-top: 20px;
}

h1 {
    text-align: center;
    color: lightskyblue;
}

div {
    font-family: Courier;   
  text-align: center;
  padding: 15px;
  margin: 15px;
}

#intro-new-zealand {
     border: 5px outset lightskyblue; 

}
#margin {
     border: 5px outset lightskyblue; 
}
button {
    padding: 20px;
    background-color: lightskyblue;
}

table {
    margin-left: auto;
  margin-right: auto;
    width: 80%;
    border-spacing: 5px;
    text-align: center;
    
}

table, th, td {
  border: 1px solid black;
  padding: 15px;
}

#img-container {
    height: 55%;
    width: 60%;
}
